<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <title>KML Layers</title>
    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            height: 100%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        ul{
            list-style: none;
            padding: 0;
        }
        li{
            font-size: 12px;
            padding: 4px;
        }
        li:hover{
            background: #dedede;
        }
        h4{
            padding: 8px;
            box-sizing: border-box;
            font-size: 14px;
            font-weight: bold;
        }

    </style>
</head>
<body>

<div id="option-container" style="position: absolute; min-width:300px; width: auto; height: auto; bottom: 0; left: 0; right: 0; padding: 16px; min-height: 200px; z-index: 100000; ">

</div>


<div id="map"></div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script>

    var markers = [];
    var lines = [];
    var dataGet = [];
    var map = undefined;
    function encenderRuta(id_r) {
{#        limpiarRutas();#}
{#        lines = [];#}
        console.log("Aqui ando?");
        lineObj = dataGet[id_r];
        lines.push(
            new google.maps.KmlLayer({
                url: "http://mirutajuarez.com/media/"+lineObj.kml,
                map: map,
                preserveViewport: true

            })
        );

    }
    function encenderTransborde(id_r, id_t) {
        limpiarRutas();
        lines = [];
        console.log("Aqui deberia andar?");
        lineObj = dataGet[id_r].transborde[id_t];
        lines.push(
            new google.maps.KmlLayer({
                url: "http://mirutajuarez.com/media/"+lineObj.kml,
                map: map,
                preserveViewport: true

            })
        );
    }
    function limpiarRutas() {
        for(var i =0; i<lines.length; i++) {
            lines[i].setMap(null);
        }
    }
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: {lat: 31.6441892, lng: -106.3837438}
        });
        function placeMarkerAndPanTo(latLng, map) {
            if (markers.length >=  2) {
                markers[0].setMap(null);
                markers[0] = markers[1];
                markers[0].title = "aqui andamos";
                markers[1] = new google.maps.Marker({position: latLng, map: map});
            }else{
                markers.push(new google.maps.Marker({position: latLng, map: map}));
            }
            if (markers.length == 2) {
                var lng_in = markers[0].getPosition().lng();
                var lat_in = markers[0].getPosition().lat();
                var lng_go = markers[1].getPosition().lng();
                var lat_go = markers[1].getPosition().lat();
                var settings = {
                        "async": true,
                        "crossDomain": true,
                        "url": "http://mirutajuarez.com/api/getruta/",
                        "method": "POST",
                    "data": {
                        "lon_in": lng_in,
                        "lat_in": lat_in,
                        "lon_go": lng_go,
                        "lat_go": lat_go
                    }
                };
                $.ajax(settings).done(function (response) {
                    limpiarRutas();
                    lines = [];
                    var container = $("#option-container");
                    var $obj = [];
                    dataGet = response;
                    container.html("");
                    for(var j =0; j<response.length; j++) {
                        lineObj = response[j];
                        $obj[j] = $('<div style="border-radius: 3px; float:left; margin:8px; box-shadow: 0 0 2px #333; width: 200px; height: 180px; background: white; " onClick="encenderRuta('+j+')" ></div>');
                        $obj[j].append("<h4>" + lineObj.nombre + "</h4>");
                        container.append($obj[j]);


{#                        lines.push(#}
{#                            new google.maps.KmlLayer({#}
{#                                url:lineObj.url,#}
{#                                map: map#}
{#                            })#}
{#                        );#}
                        if (lineObj.transborde != undefined) {
                            transArray = lineObj.transborde;
                            var $ul = $("<ul></ul>");
                            var $li = [];
                            for (var k = 0; k < transArray.length; k++) {
                                lineObj = transArray[k];

                                $li[k] = "<li style='cursor:pointer' onClick='encenderTransborde("+j+","+k+")' >" + lineObj.nombre + "</li>";
                                $ul.append($li[k]);

{#                                lines.push(#}
{#                                    new google.maps.KmlLayer({#}
{#                                        url: lineObj.url,#}
{#                                        map: map#}
{#                                    })#}
{#                                );#}
                            }
                            $obj[j].append($ul);
                        }
                    }
                });
            }
        }
        map.addListener('click', function(e) {
            placeMarkerAndPanTo(e.latLng, map);
        });
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2aJkKwaakfAgYg7mx_eol3-4iPFYdWXw&callback=initMap">
</script>
</body>
</html>
